* {
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
}
.nav-items ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 10px;
}
.nav-items li {
  padding: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}
.res-card {
  width: 200px;
  height: 350px;
  padding: 8px;
  border-radius: 4px;
  background-color: #f0f0f0;
  margin: 5px;
}
.res-card:hover {
  border: 1px solid #dbe1e9;
  cursor: pointer;
}
.res-card .res-logo {
  width: 100%;
}
